---
Checks: -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  bugprone-*,
  portability-*,
  readability-*,
  -bugprone-exception-escape,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     'file'

